.modal {
  position: fixed;
  top: 10vh;
  bottom: 10vh;
  height: 700px;
  left: 10%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  z-index: 30;
}

@media (min-width: 768px) {
  .modal {
    width: 25rem;
    left: calc(100% - 25rem);
  }
}
